@font-face {
  font-family: 'FiraSans';
  src: local('FiraSans'), url(../fonts/PokemonHollow.ttf) format('truetype');
}

.toggle-search-container {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: FiraSans;
  text-align: center;
}

.hero-body {
  padding-top: 0.3rem;
  padding-bottom: 3rem;
}

.card-container {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  .card {
    width: 300px;
    animation: zoomIn 400ms;

    .card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .MuiCardMedia-img {
      //   width: 200px;
      background-color: #ffd54e;
      border-radius: 5px;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .nav-icon {
        font-size: 4rem;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .info-bg {
      margin-top: 10px;
      background-color: #ffd54e;
      padding: 0.5rem;
      border-radius: 5px;
      width: 100%;
    }

    .typography {
      display: flex;
      flex-direction: column;
    }

    .poke-id {
      font-size: 1.2rem;
      text-align: center;
      align-self: center;
    }

    .info {
      font-size: 1rem;
    }
  }
}

@keyframes zoomIn {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
  }
  50% {
    opcaity: 1;
  }
}
