@font-face {
  font-family: 'FiraSans';
  src: local('FiraSans'), url(../fonts/PokemonHollow.ttf) format('truetype');
}

.pokeball {
  animation: load 2s infinite;
  width: 48px;
  height: 48px;
}

@keyframes load {
  50% {
    transform: scale(0.7);
  }
}

.MuiInputBase-root {
  padding-right: 0px;
}

.header-title {
  font-family: FiraSans;
  text-align: center;
}

.header-banner {
  background: url('../assets/banner.png');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 4px 4px rgba(0, 0, 0, 0.12);
}

.banner-body {
  padding-bottom: 0.3rem;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .toggle-search-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .MuiButton-contained {
    width: 9rem;
    background-color: 'red';
    color: 'white';
    background-color: #ffd54e;
    align-self: flex-start;
    margin-left: 0.7rem;
    margin-bottom: 1rem;
  }
}
